/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.modal-body {
    background-color: white; 
    color: black;

    h2 {
        color: black;
    }
}

.modal-footer {
    background-color: white;
}


.datatable-body-row.active{
	background-color: #0000004a;
}

.datatable-header-cell-template-wrap{
	text-align:center;
}

.datatable-body-cell{
	display:flex !important;
	align-items: center;
    justify-content: center;
}

.apexcharts-tooltip {
background: #f3f3f3;
color: #000;
}

.toggle-button {
  margin: 0 20px; 
}

.toggle-button {
  position: relative;
  display: inline-block;
  color: #fff; 
}
.toggle-button label {
display: inline-block;
text-transform: uppercase;
cursor: pointer;
text-align: left; 
}
  .toggle-button input {
    display: none; }
  .toggle-button__icon {
    cursor: pointer;
    pointer-events: none; }
    .toggle-button__icon:before, .toggle-button__icon:after {
      content: "";
      position: absolute;
      top: 45%;
      left: 35%;
      transition: 0.2s ease-out; 
}

.toggle-button {
  position: relative;
  display: inline-block;
  color: #fff; }
  .toggle-button label {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    text-align: left; }
  .toggle-button input {
    display: none; }
  .toggle-button__icon {
    cursor: pointer;
    pointer-events: none; }
    .toggle-button__icon:before, .toggle-button__icon:after {
      content: "";
      position: absolute;
      top: 45%;
      left: 35%;
      transition: 0.2s ease-out; }

/*
 * Toggle button variables
 */
/*
 * Toggle button styles
 */
.toggle-button--aava label {
  height: 35px;
  line-height: 50px;
  transition: all 0.2s;
  border-radius: 2rem; }
  .toggle-button--aava label:before, .toggle-button--aava label:after {
    position: absolute;
    right: 1.5rem;
    transition: all 0.2s .1s ease-out; }
  .toggle-button--aava label:before {
    content: 'On'; }
  .toggle-button--aava label:after {
    content: 'Off'; }

.toggle-button--aava input[type=checkbox] + label {
  width: 100px;
  background: #FF5335; }
  .toggle-button--aava input[type=checkbox] + label:before {
    opacity: 0;
    transform: translate(0, 20px); }
  .toggle-button--aava input[type=checkbox] + label:after {
    opacity: 1;
    transform: translate(0, -7px); }

.toggle-button--aava input[type=checkbox]:checked ~ label {
  width: 120px;
  background: #61B136; }
  .toggle-button--aava input[type=checkbox]:checked ~ label:before {
    opacity: 1;
    transform: translate(0, -7px); }
  .toggle-button--aava input[type=checkbox]:checked ~ label:after {
    opacity: 0;
    transform: translate(0, -20px); }

.toggle-button--aava input[type=checkbox]:checked ~ .toggle-button__icon:before {
  transform: translate(-10%, 100%) rotate(45deg);
  width: 16.66667px; }

.toggle-button--aava input[type=checkbox]:checked ~ .toggle-button__icon:after {
  transform: translate(30%) rotate(-45deg); }

.toggle-button--aava .toggle-button__icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 35px;
  width: 35px; }
  .toggle-button--aava .toggle-button__icon:before, .toggle-button--aava .toggle-button__icon:after {
    height: 3px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
  .toggle-button--aava .toggle-button__icon:before {
    width: 25px;
    transform: rotate(45deg); }
  .toggle-button--aava .toggle-button__icon:after {
    width: 25px;
    transform: rotate(-45deg); }

.box-chart{
  width:34%;  
}

.border-chart{
  border: solid 1px #1e3138;
  width:90%;
}

.ngx-datatable .datatable-footer{
  background: #424242;
}

.ngx-datatable .datatable-footer .datatable-footer-inner{
  padding: 0px 15px;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row .datatable-body-cell{
  justify-content:start !important;
  padding: 10px 20px !important;
}

.ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-template-wrap{
  text-align:left !important;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row:hover {
  background-color:#09181da3;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active{
  background-color:#09181da3; 
}

.card.bg-white label{
  color:#000;
}

.swal2-content{
    padding:0px !important;
}